*{
    margin: 0;
    padding: 0;
}

.calculadora{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 450px;
    height: 550px;
    border: 2px solid black;
    text-align: center;
}

.pantalla{
    display: block;
    padding: 10px;
    
}

.pantalla > input[type="text"]{
    width: 100%;
    height: 50px;
    
}